.app-container {
  display: flex;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  background-color: rgb(217, 234, 228);
  transition: margin-left 0.3s ease;
  overflow: scroll;
  margin-left: 50px;
  height: 100vh;
}

.main-content.open {
  margin-left: 160px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
